<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="#">
          TimeTrack - Current Working Project
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>
  <!-- Navigation -->
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Account</a>
        <ul class="dropdown">
          <li><a href="#">Change Password</a></li>
          <li><a href="#">Email Options</a></li>
          <li><a href="#">More</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#">Hours</a></li>
      <li class="divider"></li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </section>
  <!-- END Navigation -->
</nav>

<div class="row">

    <div class="large-12 columns">

      <!-- Header Content -->
 
        <div class="row">
 
          <div class="large-6 columns">
 
            <img src="http://placehold.it/500x375&text=a random ass picture"><br>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Current Working Project<hr/></h3>
 
            <div class="panel">
              <h4 class="hide-for-small">Current Working Project<hr/></h4>
            <h5 class="subheader">
              Hours lifetime:             100.8<br />
              Hours this past month:      30.5<br />
              Hours this past two weeks:  10.3<br />
              Hours this past week:       6.0<br />
              Minutes today:              45<br />
            </h5>
            </div>
 
          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                <h6 class="subheader">Take a break</h6>
                <div class="switch">
                  <input id="x" name="switch-x" type="radio" checked>
                  <label for="x" onclick="">Working</label>

                  <input id="x1" name="switch-x" type="radio">
                  <label for="x1" onclick="">Slacking</label>

                  <span></span>
                </div>
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <label for="project"></label>
                  <select id="project" class="medium">
                    <option DISABLED>Project</option>
                    <option>AccessBraille</option>
                    <option>AccessMath</option>
                    <option>IECS</option>
                  </select>
                  <a href="#" class="small button">Switch Project</a>
                </div>
              </div>
          </div>
 
          </div>
 
        </div>
 
      <!-- End Header Content -->
 
 
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
            <form>
              <div class="row collapse">
                <div class="large-10 small-8 columns">
                  <input type="text" placeholder="Don't know what I'm gonna do here yet..."/>
                </div>
 
                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>
              </div>
            </form>
 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->
 
 
      <!-- Footer -->
 
        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">
 
              <div class="large-6 columns">
                  <p>&copy; Copyright MichaelTimbrook.com 2013</p>
              </div>
 
              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
      <!-- End Footer -->
 
 
    </div>
  </div>